.backVideo {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0.6;
  border: none;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.8);
}

.mainVideo {
  position: absolute;
  top: 9%;
  left: 12.5%;
  width: 75%;
  border: none;
  border-radius: 9rem 2rem 9rem 2rem;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videoContainer {
  position: relative;
  width: 100%;
}

@media (max-width: 63rem) {
  .mainVideo {
    display: none;
  }
  .backVideo {
    opacity: 1;
  }
}
